<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5061293118-mk77kg5amff7ckf3uc0ii40bb1i2g9tp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5061293118-mk77kg5amff7ckf3uc0ii40bb1i2g9tp</string>
	<key>API_KEY</key>
	<string>AIzaSyAL5ebYlHSfH7UNSBtUnyeNGV9O-LaXT1I</string>
	<key>GCM_SENDER_ID</key>
	<string>5061293118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier3</string>
	<key>PROJECT_ID</key>
	<string>atelier3-a1652</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier3-a1652.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5061293118:ios:6efe11c194121390c44d6f</string>
	<key>DATABASE_URL</key>
	<string>https://atelier3-a1652-default-rtdb.firebaseio.com</string>
</dict>
</plist>